DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_SESSION_SECRET=
AUTH_API_BASE_URL=http://localhost:5000
AUTH_LOGIN_POPUP_URL=https://login.continental-hub.com/popup.html
AUTH_TRUSTED_LOGIN_ORIGINS=
BASE_URL=http://localhost:3000
PORT=3000
